
h1 {
    text-align: center;
}

p {
    text-align: center;
    
}

button {
    height: 70px;
    border-radius:15px;
    border-style: none;
    background: rgb(179, 165, 6);
    font-weight: 800;
    max-width: 200px;
    margin: 15rem auto;
    color: white;

    transition: 0.4ms;
    cursor: pointer;
    opacity: 0.8;
}
body {
    margin-top: 2rem;
    background-image: url("/img/d58819c32619e90f32c0342c219117eb.jpg");
}

button:hover {
    background: rgb(125, 115, 4);
    color: white;
    transform: scaleX(1.2);
}

.formulario{
    display: flex;
    flex-direction: column;
    
}